<div class="container-fluid">
  <!-- <div class="row well-info border">
    <app-well-info></app-well-info>
  </div> -->
  <div class="row d-flex justify-content-center">
    <i class="fa fa-info info-icon icon-1" matTooltip="{{dataResult?.gatewayId}}" aria-hidden="true"></i>
    <i class="fa fa-info info-icon icon-2" matTooltip="{{dataResult?.gearBoxLoadPercentage}}" aria-hidden="true"></i>
    <i class="fa fa-info info-icon icon-3" matTooltip="{{dataResult?.gearBoxLoadPercentage}}" aria-hidden="true"></i>
    <i class="fa fa-info info-icon icon-4" matTooltip="{{dataResult?.surfaceUnitInformation}}" aria-hidden="true"></i>
    <i class="fa fa-info info-icon icon-5" matTooltip="{{dataResult?.strokeLengthInInches}}" aria-hidden="true"></i>
    <i class="fa fa-info info-icon icon-6" matTooltip="{{dataResult?.tubingHeadPressure || dataResult?.casingHeadPressure}}" aria-hidden="true"></i>
    <i class="fa fa-info info-icon icon-7" matTooltip="{{dataResult?.gearBoxLoadPercentage}}" aria-hidden="true"></i>
    <i class="fa fa-info info-icon icon-8" matTooltip="{{dataResult?.gearBoxLoadPercentage}}" aria-hidden="true"></i>
    <i class="fa fa-info info-icon icon-9" matTooltip="{{dataResult?.calculatedPumpIntakePressure}}" aria-hidden="true"></i>

    <img src="../../../../assets/images/srp-diagram.jpg" alt="">

    <div class="well-info-details">
        <div class="well-info-details-content">
          <p>Last Well Test</p>
            <p><span>Test Gas: </span> <span> {{dataResult?.lastWellTestData?.testGasData}}</span></p>
            <p><span>Test Oil: </span> <span> {{dataResult?.lastWellTestData?.testOil}}</span></p>
            <p><span>Test Water: </span> <span> {{dataResult?.lastWellTestData?.testWater}}</span></p>
            <p><span>Test Gross: </span> <span> {{dataResult?.lastWellTestData?.testGross}}</span></p>
            <p>12/2/2023 12:00:00 AM</p>
        </div>
    </div>
  </div>
</div>