

<div class="example-container mat-elevation-z8">
    <table matSort mat-table [dataSource]="dataSource" (matSortChange)="onSortChanged($event)">
       <!-- Priority Status Column -->
       <ng-container matColumnDef="WellStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
          <td mat-cell *matCellDef="let element">
             <span
                [ngClass]="element.wellStatus === 'Over Pumping' ? 'high-priorityline' : element.wellStatus === 'Optimum Pumping' ? 'med-priorityline': 'low-priorityline'"></span>
          </td>
       </ng-container>
       <!-- Wells Name -->
       <ng-container matColumnDef="wellname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Well Name</th>
          <td mat-cell *matCellDef="let element" id="well_name" class="align-col">
            {{element.wellname}}
          </td>
       </ng-container>
       <!-- No.Of Alerts -->
       <ng-container matColumnDef="alertCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>No.Of Alerts</th>
          <td mat-cell *matCellDef="let element" class="align-col"> {{element.alertCount}} </td>
       </ng-container>
      <!-- Snoozed Alerts -->
 <ng-container matColumnDef="brozCount">
    <th mat-sort-header mat-header-cell *matHeaderCellDef>Snoozed Alerts</th>
    <td mat-cell *matCellDef="let element" class="align-col">{{ element.brozCount}}</td>
 </ng-container>
 
 <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef class="priority-custom"> Priority </th>
    <td mat-cell *matCellDef="let element" class="align-col" >{{ element.priority}}
        <div class="pichrtData">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                style="width:100%; min-height: 90px; display: block" class="highchart-custom">
            </highcharts-chart>
        </div>
    </td>
    </ng-container>
   <tr *matNoDataRow class="mat-mdc-row mdc-data-table__row cdk-row ng-star-inserted">
      <td class="mat-mdc-cell mdc-data-table__cell cdk-cell ng-star-inserted text-center" *ngIf="loading==true"
         [attr.colspan]="displayedColumns.length">
         <mat-progress-spinner mode="indeterminate" class="table-progressbar"
            style="margin:0 auto;"></mat-progress-spinner>
      </td>
      <td class="mat-mdc-cell mdc-data-table__cell cdk-cell ng-star-inserted text-center" *ngIf="loading==false"
         [attr.colspan]="displayedColumns.length">No Record Found</td>
   </tr>
   <tr *matNoDataRow class="mat-mdc-row mdc-data-table__row cdk-row ng-star-inserted">
      <td class="mat-mdc-cell mdc-data-table__cell cdk-cell ng-star-inserted text-center" *ngIf="loading == true"
         [attr.colspan]="displayedColumns.length">
         <mat-progress-spinner mode="indeterminate" class="table-progressbar"
            style="margin: 0 auto"></mat-progress-spinner>
      </td>
      <td class="mat-mdc-cell mdc-data-table__cell cdk-cell ng-star-inserted text-center" *ngIf="loading == false"
         [attr.colspan]="displayedColumns.length">
         No Records Found
      </td>
   </tr>
       <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
 </div>
 