<div class="container-fluid pt-2">
  <div class="row pt-2 pb-2">
    <div class="col-6">
      <span class="label">Filter & Sort</span>
    </div>
    <div class="col-6">
      <span class="label" style="text-decoration: underline; cursor: pointer;"(click)="clearAppliedFilter()">
        Clear All
        <mat-icon (click)="clearAppliedFilter()" style="cursor: pointer; color: white;font-size: 20px; margin-left: 5px;margin-bottom: -10px;">close</mat-icon>

      </span>
      <!-- <i class="fa fa-close" (click)="clearAppliedFilter()"></i> -->
    </div>
  </div>

  <div class="row pt-2 pb-2">
    <div class="col-12">
      <span class="label">Applied filters</span>
    </div>
    <div class="col-12">
     <!-- <button mat-raised-button class="mr-2" *ngIf="filtersApplied.wellNames" (click) = "clearWellNames()"> <mat-icon >close</mat-icon> Well Names</button>
      <button mat-raised-button class="mr-2" *ngIf="filtersApplied.commsStatus" (click) = "clearCommStatus()"> <mat-icon >close</mat-icon> Comms Status</button>
      <button mat-raised-button class="mr-2" *ngIf="filtersApplied.controllerStatus" (click) = "clearControllerStatus()"> <mat-icon >close</mat-icon>Controller Status</button>
      <button mat-raised-button class="mr-2" *ngIf="filtersApplied.pumpingTypes" (click) = "clearPumpingTypes()"> <mat-icon >close</mat-icon>Pumping Types</button> 
      -->
     
      <button mat-raised-button type="button" class="close" aria-label="Close" *ngIf="filtersApplied.wellNames">
        <span aria-hidden="true" class="close-icon" (click) = "clearWellNames()">&times;</span> Well Names
      </button>
      <button mat-raised-button type="button" class="close" aria-label="Close" *ngIf="filtersApplied.commsStatus">
        <span aria-hidden="true" (click) = "clearCommStatus()">&times;</span> Comms Status
      </button>
      <button mat-raised-button type="button" class="close" aria-label="Close" *ngIf="filtersApplied.controllerStatus">
        <span aria-hidden="true" (click) = "clearControllerStatus()">&times;</span> Controller Status
      </button>
      <button mat-raised-button type="button" class="close" aria-label="Close" *ngIf="filtersApplied.pumpingTypes">
        <span aria-hidden="true" (click) = "clearPumpingTypes()">&times;</span> Pumping Types
      </button>
      <button mat-raised-button type="button" class="close" aria-label="Close" *ngIf="filtersApplied.spm">
        <span aria-hidden="true" (click) = "clearSpm()">&times;</span> SPM Dimensionless
      </button>
      <button mat-raised-button type="button" class="close" aria-label="Close" *ngIf="filtersApplied.pumpFillage">
        <span aria-hidden="true" (click) = "clearPumpFillage()">&times;</span> Pump Fillage
      </button>
      <button mat-raised-button type="button" class="close" aria-label="Close" *ngIf="filtersApplied.inferredProduction">
        <span aria-hidden="true" (click) = "clearInferredProduction()">&times;</span> Inferred Production
      </button>
    </div>
  </div>

  <div class="row pt-2 pb-2">
    <mat-accordion>
      <mat-expansion-panel class="bg-transparent" (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        [expanded]="true">
        <mat-expansion-panel-header class="border-bottom pt-4 pb-4">
          <mat-panel-title>
            <h4 style="font-size: 12px;">Sort By Well Name</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row mt-3">

          <mat-form-field appearance="fill">
            <mat-select multiple [formControl]="providers" (openedChange)="onOpenChange(multiUserSearch)" (valueChange)="onWellSelection($event)">
              <input #multiUserSearch type="text" autocomplete="off" matInput class="search-prov"
                placeholder="Search By Provider" (input)="onInputChange($event)" />
              <mat-select-trigger>
                {{providers.value }}
              </mat-select-trigger>


              <mat-option *ngFor="let provider of filteredProviders"
                [value]="provider.value">{{provider.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


  <div class="row pt-2 pb-2">
    <mat-accordion>
      <mat-expansion-panel class="bg-transparent" (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false"
        [expanded]="true">
        <mat-expansion-panel-header class="border-bottom pt-4 pb-4">
          <mat-panel-title>
            <h4 style="font-size: 12px;">Comms Status</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row mt-3">
          <ng-container *ngFor = "let commsStatus of commsStatusOptions; let i = index">
            <mat-checkbox [checked]="commsStatusOptions[i]['checked']" class="example-margin" (change)="applyFilter($event.checked, commsStatus.value)">{{commsStatus.value}}</mat-checkbox>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


  <div class="row pt-2 pb-2">
    <mat-accordion>
      <mat-expansion-panel class="bg-transparent" (opened)="panelOpenState3 = true" (closed)="panelOpenState3 = false"
        [expanded]="true">
        <mat-expansion-panel-header class="border-bottom pt-4 pb-4">
          <mat-panel-title>
            <h4 style="font-size: 12px;">Controller Status</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row mt-3">
          <ng-container *ngFor = "let controllerStatus of controllerStatusOptions; let i = index">
            <mat-checkbox class="example-margin"  [checked]="controllerStatusOptions[i]['checked']"
            (change)="applyFilter($event.checked, controllerStatus.value)">{{controllerStatus.value}}</mat-checkbox>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


  <div class="row pt-2 pb-2">
    <mat-accordion>
      <mat-expansion-panel class="bg-transparent" (opened)="panelOpenState4 = true" (closed)="panelOpenState4 = false"
        [expanded]="true">
        <mat-expansion-panel-header class="border-bottom pt-4 pb-4">
          <mat-panel-title>
            <h4 style="font-size: 12px;">Pumping Type</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row mt-3">
          <ng-container *ngFor = "let pumpStatus of pumpingTypeOptions; let i = index">
            <mat-checkbox class="example-margin"  [checked]="pumpingTypeOptions[i]['checked']"
            (change)="pumpingTypeOptions[i].checked = $event.checked; filtersApplied.pumpingTypes = $event.checked; updateAppliedFilter()"
            >{{pumpStatus.value}}</mat-checkbox>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="row pt-2 pb-2">
    <mat-accordion>
      <mat-expansion-panel class="bg-transparent" (opened)="panelOpenState5 = true" (closed)="panelOpenState5 = false"
        [expanded]="true">
        <mat-expansion-panel-header class="border-bottom pt-4 pb-4">
          <mat-panel-title>
            <h4 style="font-size: 12px;">SPM Dimensionless</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row mt-3">
            <mat-slider min="{{spmSlider.min}}" max="{{spmSlider.max}}" discrete  [displayWith]="formatLabel">
              <input (change)="filtersApplied.spm = true" name="spmSliderStart" value="{{spmSlider.start}}" [(ngModel)] = "spmSlider.start" matSliderStartThumb>
              <input (change)="filtersApplied.spm = true" name="spmSliderEnd" value="{{spmSlider.end}}" [(ngModel)] = "spmSlider.end" matSliderEndThumb>
            </mat-slider>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


  <div class="row pt-2 pb-2 pl-4">
    <mat-accordion>
      <mat-expansion-panel class="bg-transparent" (opened)="panelOpenState6 = true" (closed)="panelOpenState6 = false"
        [expanded]="true">
        <mat-expansion-panel-header class="border-bottom pt-4 pb-4">
          <mat-panel-title>
            <h4 style="font-size: 12px;">Pump Fillage</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row mt-3">
            <mat-slider min="{{pumpFillageSlider.min}}" max="{{pumpFillageSlider.max}}" discrete  [displayWith]="formatLabel">
              <input (change)="filtersApplied.pumpFillage= true" name="pumpFillageStart" value="{{pumpFillageSlider.start}}" [(ngModel)] = "pumpFillageSlider.start" matSliderStartThumb>
              <input (change)="filtersApplied.pumpFillage= true" name="pumpFillageEnd" value="{{pumpFillageSlider.end}}" [(ngModel)] = "pumpFillageSlider.end" matSliderEndThumb>
            </mat-slider>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="row pt-2 pb-2">
    <mat-accordion>
      <mat-expansion-panel class="bg-transparent" (opened)="panelOpenState7 = true" (closed)="panelOpenState7 = false"
        [expanded]="true">
        <mat-expansion-panel-header class="border-bottom pt-4 pb-4">
          <mat-panel-title>
            <h4 style="font-size: 12px;">Inferred Production (bpd)</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row mt-3">
            <mat-slider min="{{inferredProductionSlider.min}}" max="{{inferredProductionSlider.max}}" discrete  [displayWith]="formatLabel">
              <input (change)="filtersApplied.inferredProduction = true" name="inferredProductionStart"  value="{{inferredProductionSlider.start}}" [(ngModel)] = "inferredProductionSlider.start" matSliderStartThumb>
              <input (change)="filtersApplied.inferredProduction = true" name="inferredProductionEnd"  value="{{inferredProductionSlider.end}}" [(ngModel)] = "inferredProductionSlider.end" matSliderEndThumb>
            </mat-slider>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="row pt-2 pb-2">
    <button mat-raised-button style="color: white; border-radius: 12px;" (click) = "submitAppliedFilters()">Apply Filter</button>

  </div>
</div>