.margin0 {
    margin: 0;
}
.padding0 {
    padding: 0;
}
.padding20 {
    padding: 20px;
}
.border-bottom {
    border-bottom: 1px solid #6E728D !important;
}
.border-right {
    border-right: 1px solid #6E728D;
}
.main-container-custom-alert{
    width:1410px;
    height: auto;
    background-color: #404352;
    border-radius: 8px;
    color: #EBECF2;
    padding-bottom: 10px;
    .cust-alert-header {
        padding: 20px;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        ::ng-deep {
            .mat-mdc-icon-button.mat-mdc-button-base {
                width: 20px;
                height: 20px;
                padding: 0;
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
            .mat-mdc-icon-button .mat-mdc-button-touch-target {
                position: absolute;
                top: 50%;
                height: 32px;
                left: 50%;
                width: 32px;
                transform: translate(-50%, -50%);
            }
        }  
    }

    ::ng-deep {
        .mat-mdc-checkbox-touch-target {
            height: 36px;
            width: 36px;
        }

        .mdc-checkbox .mdc-checkbox__background {
            top: calc((var(--mdc-checkbox-state-layer-size) - 23px) / 2);
            left: calc((var(--mdc-checkbox-state-layer-size) - 23px) / 2);
        }

        .mdc-checkbox {
            flex: 0 0 14px;
        }

        .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
            border-color: #ADB1C7;
            background-color: #080912;
        }

        .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
            border-color: #FABB42;
            background-color: #3A83FF;
        }

        .mdc-checkbox .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__checkmark {
            color: #080912;
        }
    }

    .select-filter-section {
        margin-top: 18px;

        .select-lbl {
            font-size: 12px;
            color: #EBECF2;
            padding: 4px 0;
            font-weight: 700;
        }

        ::ng-deep {
            .mat-mdc-form-field {
                display: block;
                margin-bottom: 10px;

                .mat-mdc-text-field-wrapper{
                    background-color: #080912E5;
                    border-radius: 10px;
                    padding: 8px 12px;
                    border: 1px solid #8B90ADBF;
                }
                .mat-mdc-text-field-wrapper:hover {
                    border-color: #fff ;
                }
                mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
                    border: none;
                }
                .mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading, .mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch, .mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
                    border: none;
                }
                .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
                    border: none;
                }
                .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
                    border: none;
                }
                .mdc-text-field--invalid .mdc-text-field__input {
                    caret-color: #ADB1C7;
                }

                .mdc-line-ripple::after,
                .mdc-line-ripple::before {
                    border-bottom-width: 0 !important;
                }

                .mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow {
                    color: #fff !important;
                }

                .mat-mdc-select-placeholder {
                    color: #ADB1C7;
                }

                .mat-mdc-select-arrow {
                    color: #fff;
                }

                .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
                    padding-top: 1px;
                    padding-bottom: 1px;
                    padding-left: 2px;
                }

                .mat-mdc-form-field-infix {
                    min-height: fit-content;
                    padding: 0;
                    font-size: 16px;
                }
            }
        }

    }

    .calender-alrt-filter-section-date-range {
        .calender-alrt-filter-date-range-title {
            color: #EBECF2;
            font-size: 12px;
            font-weight: 700;
            margin-top: 10px;
        }
        ::ng-deep {        
            .mat-mdc-button.mat-unthemed {
                border-radius: 8px;
                color: #EBECF2;
                background: #22263D;
            }
            .mat-calendar-arrow {
                fill: #fff;
            }
            .mat-calendar-previous-button::after,.mat-calendar-next-button::after { 
                color: #fff;
            }
            .mat-calendar-table-header {
                color:#8B90AD;

            }
            .mat-calendar-body-label, .mat-calendar-body-cell-content {
                color: #EBECF2;
            }
            .mat-calendar-table-header-divider::after {
                background: #8B90AD;
            }
            .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
                border-color: #6BA7FF;
            }
            .mat-calendar-body-selected {
                background-color: #3A83FF;
                color: #fff !important;
                border-color: #FABB42;
                border-width: 2px !important;
            }
            .mat-calendar-body-in-range::before {
                background: #505575;
            }

            .ngx-mat-timepicker {
                form .ngx-mat-timepicker-table {
                    margin-left: 20%;
                    .ngx-mat-timepicker-tbody tr td .mat-mdc-icon-button {
                        height: 55px;
                        width: 55px;
                        line-height: 24px;
                        padding: 0;
                    }
                    .ngx-mat-timepicker-tbody tr td .mat-mdc-form-field {
                        width: 40px;
                        height: 40px;
                        text-align: center;
                        background: #080912;
                        border-radius: 10px;
                        padding: 4px;
                        max-width: 40px;
                    }
                }
            }
        }

    }
    .custom-alrt-action-btn-grp {
        display: flex;
        justify-content: end;
        padding: 10px 30px;
        border-top: 1px solid #313652;
        .action-btn {
            font-size: 12px;
            background-color: #080912;
            border: 1px solid #6BA7FF;
            color: #fff;
            padding: 6px 16px;
            height: 35px;
            border-radius: 40px;
            width: auto;
        }
        .active {
            background-color: #6BA7FF;
            color: #080912;
        }
    } 
    .mat-mdc-table, .mat-mdc-paginator {
        background: transparent;
        .mat-mdc-icon-button svg, .mat-mdc-icon-button img {
            width:  18px;
            height: 18px;
        }
        .mat-mdc-slide-toggle {
            vertical-align: super;
        }
    }
}