<div class="dynacard-sec-right-contain-block">
    <div class="data-container-right-block-first">
       <div class="card-status-section">
          <div class="card-status-lebel">
             <span class="circle bgcolor-aqua"></span>Pump Tagging
          </div>
          <div class="card-status-count color-aqua">0</div>
       </div>
       <div class="card-status-section">
          <div class="card-status-lebel">
             <span class="circle bgcolor-green"></span>Last Storke Card
          </div>
          <div class="card-status-count color-green">0</div>
       </div>
       <div class="card-status-section">
          <div class="card-status-lebel">
             <span class="squar  bgcolor-yellow"></span>Distorted
          </div>
          <div class="card-status-count color-yellow">0</div>
       </div>
       <div class="card-status-section">
          <div class="card-status-lebel">
             <span class="squar rotate bgcolor-magenta"></span>Flatlining
          </div>
          <div class="card-status-count color-magenta">0</div>
       </div>
       <div class="card-status-section">
          <div class="card-status-lebel">
             <span class="circle bgcolor-orange"></span>Fluid Pound
          </div>
          <div class="card-status-count color-orange">0</div>
       </div>
       <div class="card-status-section">
          <div class="card-status-lebel">
             <span class="squar bgcolor-perpal"></span>Gas Interference
          </div>
          <div class="card-status-count color-perpal">0</div>
       </div>
       <div class="card-status-section">
          <div class="card-status-lebel">
             <span class="squar rotate bgcolor-light-yellow"></span>High Fluid Level
          </div>
          <div class="card-status-count color-light-yellow">0</div>
       </div>
       <div class="card-status-section">
          <div class="card-status-lebel">
             <span class="squar rotate bgcolor-pink"></span>Very High Fluid Level
          </div>
          <div class="card-status-count color-pink">0</div>
       </div>
       <div class="card-status-section">
          <div class="card-status-lebel">
             <span class="squar rotate bgcolor-skyblue"></span>Other
          </div>
          <div class="card-status-count color-skyblue">0</div>
       </div>
    </div>
    <!-- <div class="data-container-right-block-second">
       <div class="data-container-right-block-second-action-btn-grp">
          <button mat-flat-button class="action-btn-info">Auto Update</button>
          <button mat-flat-button class="action-btn-success">Historical</button>
          <button  class="r-btn">R</button>
          <button mat-icon-button aria-label="Example icon-button with a menu" class=" button-type-none">
             <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.05077 18L0.000483578 16.9436L7.89942 8.99805L0 1.05642L1.05029 0L10 8.99805L1.05077 18Z" fill="white"/>
                </svg>                                                                                                                   
         </button>
      </div>
      <div class="data-container-right-block-second-data-sec">
      </div>
    </div> -->
 </div>
